/* Remove the standard margin/padding of the html body */

.banner {
  width: 100%;
  height: 8rem;
  background-image: url(Logo.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50%;
  background-color: white;
}

body {
  margin: 0rem;
  padding: 0rem;
  height: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(212, 216, 238);
}

.page {
  margin: auto;
  max-width: 70rem;
}

.footer {
  background-color: rgb(255, 255, 255);
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.funktion {
  margin: auto;
  max-width: 70rem;
  height: 88rem;
}

.wrapper {
  max-width: 500px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.row .link {
  flex-basis: 100px;
  flex-shrink: 0;
  flex-grow: 1;
  border: 1px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  color: rgb(54, 90, 151);
  text-decoration: none;
  font-size: 24px;
  text-align: center;
}

.row .link:hover {
  background-color: rgb(232, 210, 247);
  color: rgb(54, 90, 151);
}

.Matratzenaufbau {
  width: 40rem;
  height: 20rem;
  margin-right: 3rem;
}

.DB {
  width: 30rem;
  height: 20rem;
  margin-left: 3rem;
}

.EB {
  width: 30rem;
  height: 20rem;
  margin-left: 5rem;
}

.col-adjust {
  flex-basis: 400px;
  flex-shrink: 0;
  flex-grow: 0;
  text-align: center;
  width: 50rem;
  height: 20rem;
}

.text {
  width: 5rem;
  text-align: left;
}

.App {
  width: 40rem;
  height: 35rem;
  margin-right: 3rem;
}

.Kissenaufbau{
  width: 40rem;
  height: 20rem;
  margin-right: 3rem; 
}

